.aboutme {
    text-align: center;
    position: relative;

    &__text {
        text-align: center;
        // border: 1px solid red;

        @include respond(tab-port) {
            margin-top: 5rem;
        }
    }

    &__paragraph {
        width: 85%;
        margin: 0 auto;
    }

    &__photo {
        width: 80%;
        border-radius: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        
    }
}