.parent:hover > * .child img {
    transform: scale(1);
    
}
.parent:hover > * .child:hover {
    .app-screenshot__back {
        opacity: 1;
        visibility: visible;
    }
}

.app-screenshot {

    &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        &:not(:last-child) {
            margin-bottom: 20rem;
        }
    }
    
    &__container {
        width: 43rem;
        height: 24rem;
        text-align: center;

        @include respond(tab-land-mid) {
            width: 38rem;
            height: 19rem;
        }
        @include respond(tab-port) {
            width: 33rem;
            height: 14rem;
        }
    }

    &__photo {
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        transform: scale(.98);
        transition: all 1s;

    }

    &__back {
        background-color: $color-background-light;
        width: 43rem;
        height: 25rem;
        transform: translateY(-25rem);
        border-radius: 3px;
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: all .8s;

        &-lang {
            color: $color-primary;
            text-align: center;
            padding-top: 3rem;
        }

        &-summary {
            text-align: center;
            color: $color-text-primary;
            font-size: 1.6rem;
            margin-top: 2rem;

        }

        &-link-live {
            position: absolute;
            top: 6rem;
        }
    }
}