.tech-summary {
    text-align: center;
    border: 1px solid rgba($color-background-dark, .2);
    // background-color: $color-background-light;
    background-color: transparent;
    border-radius: 3px;
    transition: all .5s;
    // position: relative;

    @include respond(tab-port) {
        width: 90%;
        margin: 3rem auto;
        // margin-top: 5;


    }

    &:hover {
        background-color: rgba($color-secondary-light, 1);
        transform: translateY(-2px);
        color: $color-text-secondary;

        .tech-summary__list {
            // background-image: linear-gradient(to bottom,rgba($color-white, 1) 50%, rgba($color-secondary-light, .3));
            background-color: rgba($color-white, 1);
        }

        .tech-summary__icon {
            transform: scale(1.2);
        }
            
    }

    &__list {
        color: $color-text-tertiary;
        list-style: none;
        font-size: $default-font-size;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        // background-image: linear-gradient(to bottom,rgba($color-white, .9) 50%, rgba($color-text-primary, .3));
        background-color: rgba($color-white, .9);
        border-radius: 3px;
    }

    &__image-container {
        margin: 0 auto;
        height: 10rem;
        width: 10rem;

        @include respond(tab-land-mid) {
            height: 8rem;
            width: 8rem;
        }
    }

    &__icon {
        width: 100%;
        transition: all .5s;
    }
}