html {
  background: linear-gradient(0deg, #1a2323 0%, #2e8283 100%); }

.container {
  text-align: center;
  color: #c3ced9; }

img {
  width: 250px;
  border-radius: 10px;
  border: 5px solid #c3ced9; }

.description {
  text-align: left; }

a {
  text-decoration: none;
  color: orange; }

/* .bio-container {
}
.bio {
    width: 500px;
} */
.list-container {
  border: 1px solid white; }

.list {
  display: flex;
  justify-content: center; }
